[user]
	name = Fynn Becker
	email = post@fynn.be
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBOvQEl1MYUrZ13nQxnFKMvn8KWcy8QC86NVDEAq6MFy

[gpg]
	format = ssh

[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign

[core]
	eol = lf
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[branch]
	sort = -committerdate

[diff]
	algorithm = histogram
	colorMoved = default

[commit]
	gpgsign = true

[log]
	date = iso

[push]
	autoSetupRemote = true
	followtags = true

[pull]
	rebase = true

[merge]
	conflictstyle = zdiff3

[rerere]
	enabled = true

[help]
	autocorrect = prompt

[includeIf "gitdir:~/Projects/factorial/"]
	path = ~/Projects/factorial/.gitconfig
