[user]
	name = Fynn Ellie Becker
	email = post@fynn.be
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBOvQEl1MYUrZ13nQxnFKMvn8KWcy8QC86NVDEAq6MFy

[gpg]
	format = ssh

[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign

[core]
	eol = lf

[init]
	defaultBranch = main

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[commit]
	gpgsign = true

[log]
	date = iso

[push]
	default = simple
	autoSetupRemote = true
	followtags = true

[pull]
	rebase = true

[merge]
	conflictstyle = zdiff3

[rebase]
	updateRefs = true

[rerere]
	enabled = true
	autoupdate = true

[column]
	ui = auto

[help]
	autocorrect = prompt

[includeIf "gitdir:~/Projects/factorial/"]
	path = ~/Projects/factorial/.gitconfig
